<h1>Pages#about</h1>
<p>Find me in app/views/pages/about.html.erb</p>

<section class="more-about">
  <h2>About Me</h2>
  <p>
    To be honest I am still a novice when it comes to web development. I am still a student at the University of Memphis so I understand
    I still have a lot to learn if I want to get better at this. Even so, i believe i am getting a grasp on a few concepts.
  </p>
  <p>
   Throughout my career, I have had the opportunity to work on a variety of projects, honing my skills in front-end and back-end development. 
   My expertise includes proficiency in HTML5, CSS3, JavaScript, Ruby on Rails, and more. I am dedicated to continuous learning and growth, always seeking to stay updated with the latest technologies and trends in the field. 
   My goal is to leverage my skills and experience to create innovative and impactful web solutions.
  </p>
  <p>
   In my portfolio, you will find a showcase of my previous projects, each with detailed descriptions and images highlighting key accomplishments and the technologies used. 
   These projects range from responsive websites to web applications, demonstrating my ability to deliver solutions. Feel free to explore my work and get a glimpse of my capabilities and commitment to excellence in web development.
  </p>
</section>

<section class="skills" id="skills">
  <h2 class="skill-header">My Top Skills</h2>

  <div class="skills-wrapper">
    <div class="first-set animate__animated animate__pulse">
      <%= image_tag "icons8-html-5.svg", alt: "", loading: "lazy", class: "icon icon-card" %>
      <%= image_tag "icons8-css3.svg", alt: "", loading: "lazy", class: "icon icon-card" %>
      <%= image_tag "icons8-javascript.svg", alt: "", loading: "lazy", class: "icon icon-card" %>
    </div>

    <div class="second-set animate__animated animate__pulse">
      <%= image_tag "icons8-bootstrap.svg", alt: "", loading: "lazy", class: "icon icon-card" %>
      <%= image_tag "icons8-react-native.svg", alt: "", loading: "lazy", class: "icon icon-card" %>
      <%= image_tag "icons8-git.svg", alt: "", loading: "lazy", class: "icon icon-card" %>
    </div>
  </div>
</section>

<footer class="footer">
        <p>&copy; 2024 Dante Donaldson. All Rights Reserved.</p>
    </footer>