<!DOCTYPE html>
<html>
  <head>
    <title>DevPortfolio</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <nav>
      <h1>DANTE</h1>
      <ul class="navigation">
        <li><a href="<%= root_path %>" class="nav-link">Home</a></li>
        <li><a href="<%= about_path %>" class="nav-link">About</a></li>
        <li><a href="<%= work_path %>" class="nav-link">Work</a></li>
        <li><a href="<%= contact_path %>" class="nav-link">Contact Me</a></li>

      </ul>
      <button class="burger-menu" id="burger-menu">
        <ion-icon class="bars" name="menu-outline"></ion-icon>
      </button>
    </nav>
    
    <button type="button" class="scroll-up" id="scroll-up">
  <%= image_tag "icons8-upward-arrow.gif", class: "socicon up-arrow", alt: "scroll-up" %>
</button>


    <%= javascript_include_tag 'custom' %>

    



  <!-- Website scripts -->
    <script src="assets/js/app.js"></script>
    

    <!-- Ion icons scripts -->
    <script
      type="module"
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"
    ></script>
    <script
      nomodule
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"
    ></script>
    <%= yield %>
  </body>
</html>
